#divParent{
  background-image: url(/Images/2077skull.png);
  background-size: cover;
  background-position: center;  
  width: 400px;
  height: 400px;
  margin: auto;
  margin-top: 200px;
  padding-top: 150px;
  padding-left: 100px;
  font-family: 'Cyberpunk Is Not Dead', sans-serif;
  
}

                                                

/********************************************************** CSS signup *****************************************************/
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(/Images/redbck2.png);
  background-size: cover;
  background-position: center;
  
  
}

* {box-sizing: border-box;
}
/* Full-width input fields */
 input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background-color: #c51e00;
} 
label{
  color: red;
}

#butInscription{
  background-color: #c51e00;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-width: 3px;
  margin-top: 200px;
  
}


/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #df2d0e;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #df2d0e;
  color: white;
  padding: 14px 30px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.6;
  transition: 0.5s;
}

button:hover {
  
  color: #ffffff;
  background: #fafbfc;
  box-shadow: 0 0 5px #ffffff, 0 0 20px #ffffff, 0 0 40px #ffffff;
  opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  
  background-color: #f44336;
  padding: -50px;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  margin-left: 80px;
  width: 50%;
  height: 50px;
  background-color: red;
}

/* Add padding to container elements */
.container {
  margin-bottom: 50px;
  
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
  
}

/* Modal Content/Box */
.modal-content {
  background-color: black;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #c51e00;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}

/********************************************************** CSS login *****************************************************/
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  
}

#butConnexion{
  background-color: #c51e00;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-width: 3px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;

  position: relative;
  background-color: #000;
  background-size: cover;
  background-position: center; 
  
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
  background-color: #000;
}

span.psw {
  float: right;
  padding-top: 16px;
  color: red;
}
#sub{
  background-color: red;
  width: 500px;
  margin-left: 220px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: red;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
/******************************************Glitch*******************************************************************************/
